apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  name: k0s
  namespace: kube-system
spec:
  api:
    address: {{ hostvars[inventory_hostname].ip }}
    port: 6443
    k0sApiPort: 9443
    sans:
      - {{ hostvars[inventory_hostname].ip }}
      - {{ inventory_hostname }}
  network:
    provider: custom
    kubeProxy:
      mode: iptables
    podCIDR: 10.244.0.0/16
    serviceCIDR: 10.96.0.0/12
  storage:
    type: etcd
    etcd:
      peerAddress: {{ hostvars[inventory_hostname].ip }}