apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources: []

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
    path: stoicheia.yaml

  - target:
      group: batch
      version: v1
      kind: Job
    path: stoicheia.yaml