apiVersion: apps/v1
kind: Deployment
metadata:
  name: eukleides
  labels:
    app: eukleides
  annotations:
    volumes.odysseia.io/elastic: "true"
    volumes.odysseia.io/init: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eukleides
  template:
    metadata:
      labels:
        app: eukleides
        release: eukleides
        version: v0.1.0
    spec:
      containers:
        - name: "eukleides"
          image: ghcr.io/odysseia-greek/eukleides:v0.0.1
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: eukleides
          ports:
            - containerPort: 50060
