# pyr/koinos/resources/local/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      group: batch
      version: v1
      kind: Job
    path: resources.yaml