apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: byzantium
servers: 1
agents: 0
image: ghcr.io/k3s-io/k3s:v1.33.2-k3s1
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
volumes:
  - volume: ${PWD}/bin/cilium.sh:/bin/k3d-entrypoint-cilium.sh
    nodeFilters:
      - all
options:
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
  k3s:
    extraArgs:
      - arg: --flannel-backend=none
        nodeFilters:
          - server:*
      - arg: --disable-network-policy
        nodeFilters:
          - server:*
