apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vault
spec:
  interval: 5m
  chart:
    spec:
      chart: vault
      version: "0.30.0"
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: delphi
  values:
    global:
      tlsDisable: false
    server:
      extraEnvironmentVars:
        VAULT_CACERT: /vault/userconfig/vault-server-tls/vault.ca
      volumes:
        - name: userconfig-vault-server-tls
          secret:
            defaultMode: 420
            secretName: vault-server-tls
      volumeMounts:
        - mountPath: /vault/userconfig/vault-server-tls
          name: userconfig-vault-server-tls
          readOnly: true
      standalone:
        enabled: true
        config: |
          ui = true
          listener "tcp" {
            address = "[::]:8200"
            cluster_address = "[::]:8201"
            tls_cert_file = "/vault/userconfig/vault-server-tls/vault.crt"
            tls_key_file  = "/vault/userconfig/vault-server-tls/vault.key"
            tls_client_ca_file = "/vault/userconfig/vault-server-tls/vault.ca"
          }
          storage "file" {
            path = "/vault/data"
          }
          disable_mlock = true
      resources:
        requests:
          memory: "76Mi"
          cpu: "100m"
        limits:
          memory: "76Mi"
    ui:
      enabled: true
    injector:
      enabled: false
    readinessProbe:
      enabled: true
